* {
  /* Styles to normalize and avoid unexpected margin and padding */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-title {
  color: #1976d2
}

.map-container {
  display: flex;
  justify-content: center;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 70vh;  
  width: 90%;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #42a5f5;
}